.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:50px;
    width: 100%;
    padding top:20px ;
     border-top:#679BFF 1px solid;
    
}

.contact h1{

    margin: 20px 0;
    font-size: 30px;
    color: #679BFF;
}

.contact-desc{
    display: flex;
    margin-bottom: 70px;
    align-items: center;
   
}

.contact-desc div{
    display: flex;
    align-items: center;
    margin:0 10px;
}

.contact dt{
    font-size: 17px;
    font-weight: 700;
}